.a-card-body {
  height: 280px;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  background-color: #e7b152;
}
.card-link {
  color: black;
}
.card-title {
  font-weight: bold !important;
  font-size: 20px !important;
  top: 0;
  bottom: 0;
  height: 40px;
  background-color: #e7b152;
}
.card-img {
  height: 200px;
  border-radius: 5px !important;
}
